<style>
    body {
        margin-top: 40px;
        font-size: 14px;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    }

    #external-events {
        float: right;
        left: 20px;
        top: 20px;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 3px 0;
        cursor: move;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar-wrap {
        margin-left: 200px;
    }

    #calendar {
        max-width: 1100px;
        margin: 0 auto;
    }

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }

    .hoverEffect {
        font-size: 29px;
        position: absolute;
        margin: 30px 55px;
        cursor: pointer;
    }

    .ui-datepicker-trigger {
        background: transparent;
        border: none;
        margin: 0 !important;
        padding: 0 !important;
    }

    .datetimepicker .input-group-addon {
        background-color: #f9f9f9;
        border-radius: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
        height: 2.1em;
        border: 1px solid #ccc;

    }

    .fc-state-default.fc-corner-right {
        border-radius: 0px;
    }

</style>
</head>

<body>
    <h1 id="display-1"> </h1>
    
    <a href=<%= link %>><button>Vers Semainier</button> </a>
    <a href="test4.ejs"><button>Export</button> </a>
    <div id='external-events'></div>
    <form name='formats'>
        <input type="radio" id="1h30" name="format" value="01:30" checked>
        <label for="1h30">Format 1h30</label>
        <input type="radio" id="1h00" name="format" value="01:00">
        <label for="1h30">Format 1h00</label>
        <input type="button" value="essai" id="essai">
    </form>
    <div id='calendar'></div>
</body>

</html>