<%- include ('./header'); %>

<script type="module">
  import * as _ from "./js/cal_function.js";

  console.log("Starting..");

  document.addEventListener("DOMContentLoaded", function () {
    var LiUE = getLiUE();
    var liCodeUe = getLiCode();

    var binf = new Date("<%= binf %>"); // Recup borne inf
    var bsup = new Date("<%= bsup %>"); // Recup borne sup
    var reg = new RegExp("[ ,;]+", "g"); //Fonction utile
    var vac = "<%=vac%>".split(reg); // Recup array de vacances
    var UEfi = "<%= UEfi %>"; // Recup Filtre UE
    console.log("binf", binf);
    var Crenaux_import = JSON.parse(sessionStorage.getItem("Mes_Crenaux"));
    console.log("Mes crenaux import : ", Crenaux_import);
    loadExtEvents(liCodeUe, LiUE);

    const radios = document.querySelectorAll("input");
    for (const radio of radios) {
      radio.onclick = (e) => {
        console.log("je viens de cliquer sur : ", e.target.value);
        sessionStorage.format = e.target.value;
        reloadEvents(liCodeUe, LiUE);
      };
    }

    var Draggable = FullCalendar.Draggable;
    var containerEl = document.getElementById("external-events");
    new Draggable(containerEl, dragdrop(LiUE));

    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(
      calendarEl,
      option_classic(liCodeUe, LiUE, binf, bsup, vac)
    );
    _.adding_ferie(calendar); //Init les jours ferié
    _.adding_vac(calendar, vac); //Init vac

    console.log("LiUE : ", LiUE, "LiCode : ", liCodeUe);
    console.log(bsup);
    _.repeat_from_type(
      calendar,
      LiUE,
      liCodeUe,
      Crenaux_import,
      binf,
      vac,
      bsup
    );

    //test pour essai
    //import * as _ from './js/cal_function.js';
    var req = new XMLHttpRequest();
    var codemath = "HAI508I";
    var type = "TP";
    ////
    var y = new Date("2022-04-18");
    $(document).ready(function () {
      $("#essai").click(function () {
        console.log("Exporting to server.js.. ");
        var x = new Date();
        console.log("le lundi de la semaine :", JJ_MM(WeekDay(x, 1)));
        var licre = JSON.stringify(_.liste_Crenaux(calendar));
        var lifer = JSON.stringify(_.valid_ferie(calendar));
        console.log(cptblocidentique(Crenaux_import, "HAI601I", "CM", "A"));

        /*console.log("vacances : ", vac);
        var x = new Date("2022-04-04");
        var y = new Date("2022-04-18");
        var z = new Date("2022-04-01");
        console.log("x est il dans des vacances ?", vacances_date(x, vac), x);
        console.log("y est il dans des vacances ?", vacances_date(y, vac), y);
        console.log("z est il dans des vacances ?", vacances_date(z, vac), z);*/
        $.post("/listecrenaux", { listecrenaux: licre, listeferie: lifer });
        //AJAX
        // console.log("Voici la liste des crenaux ", liste_Crenaux());
        // console.log("Voici ceux en math ", codemath, " : ", filtreUE(codemath, liste_Crenaux()))
        // console.log("Voici ceux qui sont du type ", type, " : ", filtretype(type, filtreUE(codemath, liste_Crenaux())));
        // console.log("Voici le deuxieme crenaux posé formaté : ", format_DJG(liste_Crenaux()[1]));
        //  console.log("Voici tout les crenaux formaté DJG ", x);
        // console.log("Voici la liste des jours ferié ", liste_ferie(), "et la liste valide ", valid_ferie());
      });
    });
    calendar.render();

    console.log("Rendu du calendar");
  });
</script>

<%- include ('./footer'); %>
