<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire</title>
  </head>

  <body>
    <form action="/verif.ejs" method="post">
      <input type="text" value="<%=binf%>" name="binf" hidden />
      <input type="text" value="<%=bsup%>" name="bsup" hidden />
      <input type="text" value="<%=vac%>" name="vac" hidden />
      <div>
        <h1 id="welcome">Des Ues ont bien été chargées.</h1></br>

        <button id ="Bouton2">Generer le semainier</button>
      </div>
      
    </form>
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Crimson+Pro:wght@200&family=Merriweather:ital,wght@1,300&family=Rubik:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
    body {
        margin: 0px;
        padding: 0px;
        background-color: #d3bdc0e1;
        position: absolute;
        top: 35%;
        left: 37%;
        /*transform: translate(-50%, -50%); */
        font-weight: bold;
        font-family: "Rubik", sans-serif; 
      }

      body:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        margin: 0px !important;
        padding: 0px !important;
        
        z-index: -10;
        background-image: url("https://scontent-mrs2-2.xx.fbcdn.net/v/t31.18172-8/11227523_1608542096066387_6330850991744781867_o.jpg?_nc_cat=107&ccb=1-5&_nc_sid=19026a&_nc_ohc=Yuheq0rFcywAX_ExZpk&tn=3urndYP2qq4R61_l&_nc_ht=scontent-mrs2-2.xx&oh=00_AT_oajq66JO9qYy_uPwg9_SWUzyXVu_mGQJ-ZdGQ8_R8tw&oe=6277EE2C");
        filter        : blur(6px);
        -moz-filter   : blur(6px);
        -webkit-filter: blur(6px);
        -o-filter     : blur(6px);
      }

    form {
      background-color: #DCDCDC;
      padding: 30px;
      border-radius: 10px;
      flex-direction: colum;
      box-shadow: 0px 10px 50px -10px;
    }
    #welcome{
        color: black;
        text-align: center;
        font-size: 2em;
      
    }
   
        

    #Bouton2 {
        background-color: grey;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 20px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        display: block;
        margin: auto;
      }
    </style>
</html>