<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Entête de s_type et s_mal : Declaration de toutes les libraires, les imports de scripts.JS et de modules-->
    <link
      href="https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css"
    />
    <link
      href="https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.print.min.css"
      rel="stylesheet"
      media="print"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <script src="https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js"></script>
    <script src="https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/jquery.min.js"></script>
    <script src="https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min
.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/main.js"></script>
    <script src="js/param.js"></script>
    <script src="js/UE.js" async></script>
    <script src="js/function.js"></script>
    <script src="js/generate_item.js"></script>
    <script src="js/dragdrop.js"></script>
    <link href="css/main.css" rel="stylesheet" />
    <script type="module">
      //import * as _ from './js/cal_function.js';
      //console.log(_.liste_Crenaux())
    </script>
  </head>
</html>
