<%- include ('./header'); %>

<script type="module">
  import * as _ from "./js/cal_function.js";

  console.log("Starting..");

  document.addEventListener("DOMContentLoaded", function () {
    var Liste_Groupe = [];

    "<%=Liste_Groupe%>".split("$").forEach((item) => {
      Liste_Groupe.push(
        item.split(",").filter(function (f) {
          return f !== "";
        })
      );
    });

    var LiUE = getLiUE(Liste_Groupe);
    var liCodeUe = getLiCode();

    var binf = new Date("<%= binf %>"); // Recup borne inf
    var bsup = new Date("<%= bsup %>"); // Recup borne sup
    var reg = new RegExp("[ ,;]+", "g"); //Fonction utile
    var vac = "<%=vac%>".split(reg); // Recup array de vacances
    var UEfi = "<%= UEfi %>"; // Recup Filtre UE
    //  if ("<%= SS %>") {

    if ("<%= SS %>" != "0") {
      var str = "<%= SS %>";
      var r = /\&#(\d\d);/gi;
      str = str.replace(r, function (match, grp) {
        return String.fromCharCode(parseInt(grp));
      });

      sessionStorage.setItem("Mes_Crenaux", str);
    }
    var Crenaux_import = JSON.parse(sessionStorage.getItem("Mes_Crenaux"));

    if ("<%= SS %>" != "0") {
      if (
        (new Date(Crenaux_import[0].end) - new Date(Crenaux_import[0].start)) /
          3600000 ==
        1
      ) {
        sessionStorage.format = "01:00";
      } else sessionStorage.format = "01:30";
    }

    loadExtEvents(liCodeUe, LiUE);
    var Draggable = FullCalendar.Draggable;
    var containerEl = document.getElementById("external-events");
    new Draggable(containerEl, dragdrop(LiUE));

    // Declaration du calendar
    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(
      calendarEl,
      option_classic(liCodeUe, LiUE, binf, bsup, vac)
    );
    _.adding_ferie(calendar); //Init les jours ferié
    _.adding_vac(calendar, vac); //Init vac

    if ("<%= SS %>" == "0") {
      if (Crenaux_import[0] != undefined || Crenaux_import[0] != "undefined") {
        _.repeat_from_type(
          calendar,
          LiUE,
          liCodeUe,
          Crenaux_import,
          binf,
          vac,
          bsup
        );
      }
    } else {
      if ("<%= LiMal %>" != "0") {
        var lis = "<%= LiMal %>";
        var r = /\&#(\d\d);/gi;
        lis = lis.replace(r, function (match, grp) {
          return String.fromCharCode(parseInt(grp));
        });

        JSON.parse(lis).forEach((event) => {
          calendar.addEvent(event);
          var current_UE = LiUE.find(
            (e) => e.CodeUE == event.extendedProps.CodeUE
          );
          current_UE.ajoutbloc(
            event.extendedProps.Type,
            event.extendedProps.Groupe
          );
        });
        reloadEvents(liCodeUe, LiUE);
      }
    }

    var req = new XMLHttpRequest();
    var codemath = "HAI508I";
    var type = "TP";

    var y = new Date("2022-04-18");
    $(document).ready(function () {
      // AJAX pour l'export
      $("#export").click(function () {
        var x = new Date();
        var licre = JSON.stringify(_.liste_Crenaux(calendar));
        var lifer = JSON.stringify(_.valid_ferie(calendar, binf, bsup));

        $.post("/listecrenaux", { listecrenaux: licre, listeferie: lifer });
      });
    });

    $(document).ready(function () {
      $("#saving").click(function () {
        console.log("Exporting to server.js as saving.. ");
        var licre = JSON.stringify(_.liste_Crenaux(calendar));

        $.post("/saving", {
          listecrenaux: licre,
          LiUEfiltre: LiUE[0]["CodeUE"].slice(0, 4),
          sessionS: sessionStorage["Mes_Crenaux"],
        });
      });
    });
    calendar.render();
    console.log("Rendu du calendar");
  });
</script>

<%- include ('./footer'); %>
