script<%- include ('./header'); %>

<script type="module">
  import * as _ from "./js/cal_function.js";

  console.log("Starting..");

  document.addEventListener("DOMContentLoaded", function () {
    var Liste_Groupe = [];
    "<%=Liste_Groupe%>".split("$").forEach((item) => {
      Liste_Groupe.push(
        item.split(",").filter(function (f) {
          return f !== "";
        })
      );
    });

    var LiUE = getLiUE(Liste_Groupe);
    var liCodeUe = getLiCode();
    if (sessionStorage.getItem("Mes_Crenaux") !== "undefined") {
      var Crenaux_import = JSON.parse(sessionStorage.getItem("Mes_Crenaux"));
    }
    loadExtEvents(liCodeUe, LiUE);

    const radios = document.querySelectorAll("input");

    for (const radio of radios) {
      radio.onclick = (e) => {};
    }

    document
      .querySelector('[name="myForm"]')
      .addEventListener("submit", function (event) {
        event.preventDefault();
        console.log(event);
      });

    var Draggable = FullCalendar.Draggable;
    var containerEl = document.getElementById("external-events");
    new Draggable(containerEl, dragdrop(LiUE));

    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(
      calendarEl,
      option_type(liCodeUe, LiUE, calendar)
    );

    // Ajout des créneaux si on a quelques chose dans mes_crenaux (via loading d'une save ou via type -> malléable -> type)
    if (
      sessionStorage["Mes_Crenaux"] == undefined ||
      sessionStorage["Mes_Crenaux"] == "undefined"
    ) {
    } else {
      var Crenaux_import = JSON.parse(sessionStorage["Mes_Crenaux"]);
      sessionStorage["Fixing"] = "true";
      // il y'a des crenaux a poser..
      sessionStorage.setItem("init", undefined);
      LiUE.forEach((UE) => {
        UE.reset();
      });

      Crenaux_import.forEach((event) => {
        var current_UE;
        var current_grp = event.extendedProps.Groupe;
        var current_type = event.extendedProps.Type;
        LiUE.forEach((UE) => {
          if (UE.CodeUE == event.extendedProps.CodeUE) current_UE = UE; // Recuperation de L'UE courant
        });
        current_UE.ajoutbloc(current_type, current_grp); // On redonne les CM pris
        reloadEvents(liCodeUe, LiUE);
        var start = new Date(event.start);
        var end = new Date(event.end);
        var i = 1;
        while (new Date().getWeekNumber() != start.getWeekNumber()) {
          start.setDate(start.getDate() + 7);
          end.setDate(end.getDate() + 7);
          event.start = fuse_timestamp(start, start);
          event.end = fuse_timestamp(end, end);
        }
        calendar.addEvent(event);
      });
    }

    if (document.addEventListener) {
      document.addEventListener("click", function (event) {
        _.callback(liCodeUe, LiUE, event, calendar);
      });
    } else {
      document.attachEvent("onclick", function (event) {
        event.preventDefault();
        _.callback(liCodeUe, LiUE, event, calendar);
      });
    }

    calendar.render();
    function recupallevent() {
      return _.liste_Crenaux(calendar);
    }
  });
</script>

<%- include ('./footer'); %>
