<%- include ('./header'); %>

    <script type ='module'>
        
        import * as _ from './js/cal_function.js';
        
        console.log("Starting..");
        
        document.addEventListener('DOMContentLoaded', function () {

           var LiUE = recupJSON();
           var liCodeUe = recupCode();
           var Crenaux_import = JSON.parse(sessionStorage.getItem("Mes_Crenaux"));
           loadExtEvents(liCodeUe,LiUE);

           
           const radios = document.querySelectorAll('input')
            for (const radio of radios) {
                radio.onclick = (e) => {
                    console.log("je viens de cliquer sur : ", e.target.value);
                    sessionStorage.format = e.target.value;
                    reloadEvents(liCodeUe,LiUE);
                }
            }

            var Draggable = FullCalendar.Draggable;
            var containerEl = document.getElementById('external-events');
            new Draggable(containerEl, dragdrop(LiUE)
            );

            
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl,
                option_type(liCodeUe,LiUE)
                
            );
            _.adding_ferie(calendar); //Init les jours ferié 

            console.log("LiUE : ",LiUE, "LiCode : ",liCodeUe);

            if (sessionStorage['Mes_Crenaux'] == undefined) {
                console.log("Aucun crenaux dans le sac");
            }
            else {
                var Crenaux_import = JSON.parse(sessionStorage["Mes_Crenaux"]);
                sessionStorage["Fixing"] = "true";
                console.log("Il y'a des crenaux dans le sac", Crenaux_import);
                // il y'a des crenaux a poser..
                console.log("updating :", sessionStorage["init"]);
                sessionStorage.setItem("init", undefined);
                console.log("updating :", sessionStorage["init"]);
                Crenaux_import.forEach(event => {
                    calendar.addEvent(
                        event,
                    );
                })
            };

            

        if (document.addEventListener) {
            document.addEventListener('click', function (event) {

                _.callback(liCodeUe,LiUE,event,calendar) ;

            });
        } else {
            document.attachEvent('onclick', function (event) {
                event.preventDefault();
                _.callback(liCodeUe,LiUE,event,calendar) 
            });
        };

            calendar.render();

            console.log("Rendu du calendar");
        });
        
    

</script>

<%- include ('./footer'); %>
