<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Formulaire</title>
  </head>

  <body>
    <h1 id="welcome">BIENVENUE SUR L'APPLICATION</h1>
    <form action="/" method="post">
      <script>
        
        function updateborneinf() {
          var binf = document.getElementById("borneinf").value;
          document.getElementById("bornesup").min = binf; // Update le min de bornesup
          document.getElementsByName("vac").forEach((el) => {
            el.min = binf;
          }); // Update le min de vacances
        }

        function updatebornesup() {
          var bsup = document.getElementById("bornesup").value;
          document.getElementById("borneinf").max = bsup;
          document.getElementsByName("vac").forEach((el) => {
            el.max = bsup;
          }); // Update le max de vacances
        }

        function generatechampvac() {
          var n = document.getElementById("nbweekvac").value;
          document.getElementById("week").innerHTML =
            "<p > (Les vacances seront considéré comme la semaine de la date donnée)</p>";
          for (var i = 1; i <= n; i++) {
            document.getElementById("week").innerHTML +=
              ' <div> <label for=vac"> Vacances ' +
              i +
              ' :</label> <input type="date" required name="vac" id="vac" max="" min=""> </div>';
          }
          updateborneinf();
          updatebornesup();
        }

        function generatechampue() {
          var n = document.getElementById("nbue").value;
          var UEfilter = document.getElementById("UEfilter").value;
          var Reg = "";
          UEfilter.split("").forEach(el =>{
            Reg += "^"+el+"|.";
          })
          console.log(Reg);

          var x = "pattern ='"+UEfilter+"'";
          console.log(x);
          document.getElementById("ueprecis").innerHTML =
            "<p>Donner un CodeUE par champ (ex: HAI502I)</p>";
          for (var i = 1; i <= n; i++) {
            document.getElementById("ueprecis").innerHTML +=
              ' <div> <label for=ue"> UE n° ' +
              i +
              ': </label> <input type="text" id="ue" name="ue" maxlength="7" required > </div>';
          }

        }

        $(document).ready(function () {
          $("#essai").click(function () {
            console.log("Hey");
            $.post("/");
          });
        });
     
      </script>

      <p id="test"></p>
      <script></script>
      <div>
        <label for="borneinf"
          >Donnez la date de debut de votre semestre :</label
        >

        <input
          type="date"
          required
          name="borneinf"
          id="borneinf"
          onchange="updateborneinf()"
          max=""
        />
      </div>
      <div>
        <label for="bornesup"
          >Donnez la date de fin de votre semestre :</label
        >
        <input
          type="date"
          required
          name="bornesup"
          id="bornesup"
          onchange="updatebornesup()"
          min=""
        />
      </div>

      <div>
        <input type="radio" id="1h30" name="format" value="01:30" checked />
        <label for="1h30">Format 1h30</label>
        <input type="radio" id="1h00" name="format" value="01:00" />
        <label for="1h00">Format 1h00</label>
      </div>

      <label for="UEfilter"
      >Veuillez filter les UE (ex: HAI5 pour la formation HAI Semestre
      5)</label
    >
     <input
       type="text"
       minlength="4"
       maxlength="4"
       name="UEfilter"
       id="UEfilter"
       onchange="testing()"
     />

      <div>
        <label for=" nbweekvac"
          >Veuillez donner le nombre de semaine de vacances dans le
          semestre</label
        >
        <input
          type="number"
          min="0"
          max="5"
          name="nbweekvac"
          id="nbweekvac"
          onchange="generatechampvac()"
          required
        />
      </div>
      <div id="week"></div>
      
      <div>

     
  
      </div>
        
    
       
        <script>
          console.log(document.getElementById("UEfilter").value = "");
          document.getElementById("nbweekvac").value = "";
          function testing(){
            var UEfilter = document.getElementById("UEfilter").value;
            if (UEfilter.length == 4 ){
              document.getElementById("uenb").innerHTML = 
              "<label for='nbue'> Donnez le nombre d'UE voulu différent du filtre </label>"+
  '<input id="nbue" name="nbue" type ="number" min="0" max"5" onchange="generatechampue()" required>';

            }else {
              document.getElementById("uenb").innerHTML = ""; 
              document.getElementById("ueprecis").innerHTML = ""; 
            };
           // console.log(UEfilter); 
           // document.getElementById("choose").pattern.innerHTML = 'A';
            //console.log(document.getElementById("choose"));
          }
        </script>
        
      </div>
      
      <div>
        <div id="uenb"></div>
        <div id="ueprecis"></div>
        </div>
        <button id="boutton">Charger le filtrage UE</button>
      
    
             </div>
    </form>
    <form action="/loading" method="post">
      <div >Ou vous pouvez : </div>
      <button id="bouttonloading">Charger une sauvegarde</button>
    </form>
    
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Crimson+Pro:wght@200&family=Merriweather:ital,wght@1,300&family=Rubik:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
      body {
        margin: 0px;
        padding: 0px;
        background-color: #d3bdc0e1;
        position: absolute;
        top: 15%;
        left: 30%;
        /*transform: translate(-50%, -50%); */
        font-weight: bold;
        font-family: "Rubik", sans-serif;
      }

      body:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        margin: 0px !important;
        padding: 0px !important;

        z-index: -10;
        background-image: url("https://scontent-mrs2-2.xx.fbcdn.net/v/t31.18172-8/11227523_1608542096066387_6330850991744781867_o.jpg?_nc_cat=107&ccb=1-5&_nc_sid=19026a&_nc_ohc=Yuheq0rFcywAX_ExZpk&tn=3urndYP2qq4R61_l&_nc_ht=scontent-mrs2-2.xx&oh=00_AT_oajq66JO9qYy_uPwg9_SWUzyXVu_mGQJ-ZdGQ8_R8tw&oe=6277EE2C");
        filter: blur(6px);
        -moz-filter: blur(6px);
        -webkit-filter: blur(6px);
        -o-filter: blur(6px);
      }

      form {
        background-color: #dcdcdc;
        padding: 30px;
        border-radius: 10px;
        flex-direction: colum;
        box-shadow: 0px 10px 50px -10px;
      }
      #UEfilter {
        width: 15%;
        margin: 10px 0;
        padding: 10px;
        color: #808080;

        border-bottom: 2px solid black;
        transition: 0.2s;
      }
      #nbweekvac {
        width: 10%;
        margin: 10px 0;
        padding: 10px;

        border-bottom: 2px solid black;
        transition: 0.2s;
      }
      h1 {
        color: black;
        text-align: center;
        font-size: 2em;
        background-color: #dcdcdc;
        padding: 30px;
        border-radius: 10px;
        flex-direction: colum;
        box-shadow: 0px 10px 50px -10px;
      }
      #DateDeb {
        color: black;
        margin-top: 30px;
        margin-bottom: 20px;
        flex-direction: column;
      }
      #borneinf {
        width: 37%;
        margin: 10px 0;
        padding: 10px;
        border-bottom: 2px solid black;
        transition: 0.2s;
      }
      #bornesup {
        width: 37%;
        margin: 10px 0;
        padding: 10px;

        border-bottom: 2px solid black;
        transition: 0.2s;

        border-bottom: 2px solid black;
        transition: 0.2s;
      }

      #DateFin {
        color: black;
        margin-bottom: 30px;
        flex-direction: column;
      }
      #nbWeek {
        text-align: center;
        color: black;
        margin-bottom: 30px;
        flex-direction: column;
      }
      #week {
        text-align: center;
        color: black;
        margin-bottom: 30px;
        flex-direction: column;
      }
      
      #boutton {
        background-color: grey;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 20px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        display: block;
        margin: auto;
      }
      #bouttonloading{
        background-color: grey;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 20px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        display: block;
        margin: auto;
      }
      #bouttonloading{
        background-color: grey;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        display: block;
        margin: auto;
        margin-top: 50px;
      } 
      /* ou 
      #bouttonloading{
        background-color: rgba(19, 14, 14, 0.864);
        color: white;
        display: inline-block;
        margin: 15px;
        margin-top: 45px;
      }
 */
      
    </style>
    <script>
      var error = "<%= err %>";
      console.log(error);
      if (error == 0) {
        alert("Attention, verifiez la validité de votre filtre");
      }
    </script>
  </body>
</html>
