script<%- include ('./header'); %>

<script type="module">
  import * as _ from "./js/cal_function.js";

  console.log("Starting..");

  document.addEventListener("DOMContentLoaded", function () {
    console.log("Valeur de mes crenuax", sessionStorage["Mes_Crenaux"]);
    var Liste_Groupe = [];
    console.log("<%=Liste_Groupe%>");
    "<%=Liste_Groupe%>".split("$").forEach((item) => {
      Liste_Groupe.push(
        item.split(",").filter(function (f) {
          return f !== "";
        })
      );
    });

    console.log("Liste_Groupe", Liste_Groupe);
    var LiUE = getLiUE(Liste_Groupe);
    var liCodeUe = getLiCode();
    if (sessionStorage.getItem("Mes_Crenaux") !== "undefined") {
      var Crenaux_import = JSON.parse(sessionStorage.getItem("Mes_Crenaux"));
    }
    loadExtEvents(liCodeUe, LiUE);

    const radios = document.querySelectorAll("input");
    console.log(sessionStorage["format"]);
    for (const radio of radios) {
      radio.onclick = (e) => {
        console.log("je viens de cliquer sur : ", e.target.value);
        // sessionStorage.format = e.target.value;
        //reloadEvents(liCodeUe, LiUE);
      };
    }

    /* let input1 = document.getElementById("ID_input1");
    let input2 = document.getElementsByName("ID_input2")[0];
    let input3 = document.getElementsByName("ID_input2")[1];
    let input4 = document.getElementById("ID_input4");
    let bouton1 = document.getElementById("ID_bouton1");
    let bouton2 = document.getElementById("ID_bouton2");
    bouton1.addEventListener("click", click_bouton1);
    bouton2?addEventListener("click",click_bouton2);
    function click_bouton2{
      console.log("Appel au delete");
      document.getElementById("ID_input1").style.display = "none";
      document.getElementById("ID_bouton1").style.display = "none";
      document.getElementsByName("ID_input2")[0].style.display = "none";
      document.getElementsByName("ID_input2")[1].style.display = "none";
    }

    function click_bouton1() {
      var Informatisé;
      var Interventant = input1.value;
      console.log("valeur eventid:", input4.value);
      console.log(calendar.getEventById("99"));
      Informatisé = input3;
      console.log("Interventant : ", Interventant);
      console.log("Informatisée : ", Informatisé);
      document.getElementById("ID_input1").style.display = "none";
      document.getElementById("ID_bouton1").style.display = "none";
      document.getElementsByName("ID_input2")[0].style.display = "none";
      document.getElementsByName("ID_input2")[1].style.display = "none";
    }*/

    document
      .querySelector('[name="myForm"]')
      .addEventListener("submit", function (event) {
        event.preventDefault();
        console.log(event);
      });

    var Draggable = FullCalendar.Draggable;
    var containerEl = document.getElementById("external-events");
    new Draggable(containerEl, dragdrop(LiUE));

    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(
      calendarEl,
      option_type(liCodeUe, LiUE, calendar)
    );

    console.log("appel a cette fonction ", recupallevent());
    _.adding_ferie(calendar); //Init les jours ferié

    console.log("LiUE : ", LiUE, "LiCode : ", liCodeUe);

    if (
      sessionStorage["Mes_Crenaux"] == undefined ||
      sessionStorage["Mes_Crenaux"] == "undefined"
    ) {
      console.log("Aucun crenaux dans le sac");
    } else {
      var Crenaux_import = JSON.parse(sessionStorage["Mes_Crenaux"]);
      sessionStorage["Fixing"] = "true";
      console.log("Il y'a des crenaux dans le sac", Crenaux_import);
      // il y'a des crenaux a poser..
      console.log("updating :", sessionStorage["init"]);
      sessionStorage.setItem("init", undefined);
      console.log("updating :", sessionStorage["init"]);
      console.log(Crenaux_import);
      LiUE.forEach((UE) => {
        UE.reset();
      });

      Crenaux_import.forEach((event) => {
        var current_UE;
        var current_grp = event.extendedProps.Groupe;
        var current_type = event.extendedProps.Type;
        LiUE.forEach((UE) => {
          if (UE.CodeUE == event.extendedProps.CodeUE) current_UE = UE; // Recuperation de L'UE courant
        });
        console.log(current_grp, current_type, current_UE);
        current_UE.ajoutbloc(current_type, current_grp); // On redonne les CM pris
        reloadEvents(liCodeUe, LiUE);
        calendar.addEvent(event);
      });
    }

    if (document.addEventListener) {
      document.addEventListener("click", function (event) {
        _.callback(liCodeUe, LiUE, event, calendar);
        console.log(event, "1 ajouté a Mes_Crenaux !");
        console.log(_.liste_Crenaux(calendar));
      });
    } else {
      document.attachEvent("onclick", function (event) {
        event.preventDefault();
        _.callback(liCodeUe, LiUE, event, calendar);
        console.log(event, "ajouté a Mes_Crenaux !");
        console.log(_.liste_Crenaux(calendar));
      });
    }

    calendar.render();
    function recupallevent() {
      return _.liste_Crenaux(calendar);
    }
    console.log(recupallevent());
    console.log("Rendu du calendar");
  });
</script>

<%- include ('./footer'); %>
