<%- include ('./header'); %>

    <script type='module'>

        import * as _ from './js/cal_function.js';

        console.log("Starting..");

        document.addEventListener('DOMContentLoaded', function () {

            var LiUE = recupJSON();
            var liCodeUe = recupCode();
            var Crenaux_import = JSON.parse(sessionStorage.getItem("Mes_Crenaux"));
            console.log("Mes crenaux import : ", Crenaux_import);
            loadExtEvents(liCodeUe, LiUE);


            const radios = document.querySelectorAll('input')
            for (const radio of radios) {
                radio.onclick = (e) => {
                    console.log("je viens de cliquer sur : ", e.target.value);
                    sessionStorage.format = e.target.value;
                    reloadEvents(liCodeUe, LiUE);
                }
            }

            var Draggable = FullCalendar.Draggable;
            var containerEl = document.getElementById('external-events');
            new Draggable(containerEl, dragdrop(LiUE)
            );


            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl,
                option_classic(liCodeUe, LiUE)

            );
            _.adding_ferie(calendar); //Init les jours ferié 

            console.log("LiUE : ", LiUE, "LiCode : ", liCodeUe);

            _.repeat_from_type(calendar, LiUE, Crenaux_import, new Date('2021-09-01'));


            //test pour essai 
            //import * as _ from './js/cal_function.js';
            var req = new XMLHttpRequest();
            var codemath = "HAI508I";
            var type = "TP";
            $(document).ready(function () {
                $('#essai').click(function () {
                    console.log("Exporting to server.js.. ");

                    var licre = JSON.stringify(_.liste_Crenaux(calendar));
                    var lifer = JSON.stringify(_.valid_ferie(calendar));
                    console.log(JSON.parse(licre), JSON.parse(lifer));
                    $.post('/listecrenaux', { listecrenaux: licre, listeferie: lifer });
                    //AJAX
                    // console.log("Voici la liste des crenaux ", liste_Crenaux());
                    // console.log("Voici ceux en math ", codemath, " : ", filtreUE(codemath, liste_Crenaux()))
                    // console.log("Voici ceux qui sont du type ", type, " : ", filtretype(type, filtreUE(codemath, liste_Crenaux())));
                    // console.log("Voici le deuxieme crenaux posé formaté : ", format_DJG(liste_Crenaux()[1]));
                    //  console.log("Voici tout les crenaux formaté DJG ", x);
                    // console.log("Voici la liste des jours ferié ", liste_ferie(), "et la liste valide ", valid_ferie());
                });
            });
            calendar.render();

            console.log("Rendu du calendar");
        });



    </script>

    <%- include ('./footer'); %>