<!DOCTYPE html>
<!-- PARTIE 3 - JOURS FERIE + Intro aux "event"  -->
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <!--<link href='lib/main.css' rel='stylesheet' />-->
    <script src='js/main.js'></script>
     <!--Ajout d'un script qui calcule les jours ferié-->
    <script>
       // var current_year = (new Date()).getFullYear(); // new.Date pour la date du jour et getFullYear sur la date du jour pour avoir l'année en cours.
       // var array_ferie = JoursFeries(current_year); // J'appelle le script joursferié avec l'année obtenue precedement
        // Ici, "array_ferie" contient tout les jours ferié de l'année courante (ici 2022)

        document.addEventListener('DOMContentLoaded', function () {

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, 
            
            );

            calendar.render();
        });

    </script>

    <style>

        body {
            margin-top: 40px;
            font-size: 14px;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        }

        #external-events {
            position: fixed;
            left: 20px;
            top: 20px;
            width: 150px;
            padding: 0 10px;
            border: 1px solid #ccc;
            background: #eee;
            text-align: left;
        }

            #external-events h4 {
                font-size: 16px;
                margin-top: 0;
                padding-top: 1em;
            }

            #external-events .fc-event {
                margin: 3px 0;
                cursor: move;
            }

            #external-events p {
                margin: 1.5em 0;
                font-size: 11px;
                color: #666;
            }

                #external-events p input {
                    margin: 0;
                    vertical-align: middle;
                }

        #calendar-wrap {
            margin-left: 200px;
        }

        #calendar {
            max-width: 1100px;
            margin: 0 auto;
        }
    </style>

</head>
<body>
    <div id='calendar'></div>
</body>
</html>